@media screen and (max-width: 700px) {
    body{
        background-color: #fff;
    }
    header{
        width: 90%;
    }

    div.content{
        width: 90%;
        background-size: auto;
    }

    .content > h2.heading{
        width: 90% !important;
    }

    .login{
        width: 90% !important;
    }
}